<% var tagCount = site.tags.filter(function(tag) { return tag.length; }).length; %>

<% var author = theme.profile.author; %>
<% var authorSocial = author.social; %>
<% var socialLinks = theme.social.links; %>
<% var profileGravatar= author.gravatar; %>
<% var profileAvatar= author.avatar; %>
<% var hasAvatar = (profileGravatar || profileAvatar); %>

<aside id="profile">
    <div class="inner profile-inner">
        <div class="profile-block base-info">
            <% if (hasAvatar) { %>
            <img id="avatar" src="<%= ( profileGravatar ? gravatar(profileGravatar, 128) : url_for(profileAvatar)) %>" />
            <% } %>

            <h2 id="name"><%= author.name %></h2>
            <h3 id="position"><%= author.title %></h3>

            <% if (author.location) { %>
            <span id="location"><i class="fa fa-map-marker"></i><%= author.location %></span>
            <% } %>
        </div>

        <div class="profile-block article-info">
            <div class="article-info-block">
                <%= site.posts.length %>
                <span><%= (site.posts.length > 1 ? __('profile.posts') : __('profile.post')) %></span>
            </div>

            <div class="article-info-block">
                <%= tagCount %>
                <span><%= (tagCount > 1 ? __('profile.tags') : __('profile.tag')) %></span>
            </div>
        </div>

        <% if(authorSocial) { %>
        <div class="profile-block social-links">
            <table>
                <tr>
                    <% var tooltipClass = theme.social.tooltip === false ? '' : 'class=tooltip'; %>

                    <% for(var i in authorSocial) { %>
                    <% if (authorSocial[i]) { %>
                    <td>
                        <a href="<%- url_for(socialLinks[i] + authorSocial[i]) %>" target="_blank" title="<%= i %>" <%= tooltipClass %>>
                            <i class="fa fa-<%= i %>"></i>
                        </a>
                    </td>
                    <% } %>
                    <% } %>
                </tr>
            </table>
        </div>
        <% } %>

        <div class="profile-block">
            <a href="<%-theme.social.links['stackoverflow'] %><%- theme.profile.author.social.stackoverflow %>" target="_blank">
                <img src="<%-theme.social.links['stackoverflow'] %>flair/<%- theme.profile.author.social.stackoverflow %>.png?theme=clean" width="208" height="58"
                     alt="Stack Overflow profile for <%- theme.profile.author.name %>"
                     title="Stack Overflow profile for <%- theme.profile.author.name %>">
            </a>
        </div>
    </div>
</aside>